body {
    margin: 100px;
    background-color: #04151F;
    color: #BDEDE0;
    font-family: "Karla", sans-serif;
}

h1 {
    width: 354px;
    height: 80px;
    position: 52px 115px;
    font-style: ExtraBold;
    font-size: 40px;
}

#highlightText {
    color: #F4C095;
}

p {
    font-family: "Karla", sans-serif;
    font-weight: 1;
    font-size: 22px;
    margin-bottom: 60px;
    color: 823038;
}

button {
    width: 191px;
    height: 42px;
    font-size: medium;
    font-weight:bold;
    color: #04151F;
    background-color: #F4C095;
    border: none;
    border-radius: 6px;
    margin-bottom: 50px;
}

hr {
    margin: 0px;
    width: 446px;
    height: 2px;
    border: none;
    background: #598392;
}

.output-container {
    margin-top: 45px;
    gap: 25px;
    display: flex;
}

h3 {
    text-align: center;
    vertical-align: middle;
    width: 211px;
    height: 29px;
    background-color: #598392;
    border-radius: 6px;
    color: #04151F;
    padding-top: 8px;
}