body {
    margin: 100px;
    background-color: #04151F;
    color: #BDEDE0;
    font-family: "Karla", sans-serif;
}

h1 {
    width: 354px;
    height: 80px;
    position: 52px 115px;
    font-style: ExtraBold;
    font-size: 40px;
}

#highlightText {
    color: #F4C095;
}

p {
    font-family: "Karla", sans-serif;
    font-weight: 1;
    font-size: 22px;
    margin-bottom: 60px;
    color: 823038;
}

button {
    width: 191px;
    height: 42px;
    font-size: medium;
    font-weight:bold;
    color: #04151F;
    background-color: #F4C095;
    border: none;
    border-radius: 6px;
    margin-bottom: 50px;
}

hr {
    margin: 0px;
    width: 446px;
    height: 2px;
    border: none;
    background: #598392;
}

.output-container {
    margin-top: 45px;
    gap: 25px;
    display: flex;
}

h3 {
    text-align: center;
    vertical-align: middle;
    width: 211px;
    height: 29px;
    background-color: #598392;
    border-radius: 6px;
    color: #04151F;
    padding-top: 8px;
}

/* Password configuration section */
.config-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #BDEDE0;
}

/* Hide default checkbox */
.config-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #598392;
    border-radius: 5px;
}

/* Checkbox mouse over visual */
.config-container:hover input ~ .checkmark {
    background-color: #F4C095;
}

/* Checkmark mouse over visual */
.checkmark:hover input ~ .checkmark:after {
    border: solid #04151F;
}

/* Checkbox visual - checked */
.config-container:checked ~ .checkmark {
    background-color: #BDEDE0;
}

/* Checkmark visual - not checked */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Checkmark visual - checked */
.config-container input:checked ~ .checkmark:after {
    display: block;
}

/* Checkmark style */
.config-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #BDEDE0;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
