body {
    margin: 3px 50px;
    background-color: #04151F;
    color: #BDEDE0;
    font-family: "Karla", sans-serif;
    height: 650px;
}

h1 {
    width: 354px;
    height: 80px;
    position: 20px 115px;
    font-style: ExtraBold;
    font-size: 40px;
}

#highlightText {
    color: #F4C095;
}

p {
    font-family: "Karla", sans-serif;
    font-weight: 1;
    font-size: 22px;
    margin-bottom: 20px;
    width: 560px;
}

.copy-button {
    width: 30px;
    height: 30px;
    margin-top: 17px;
    background-image: url("Copy-Paste--Streamline-Core.svg");
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: #BDEDE0;
    background-position: center left 4px;
    align-items: center;
    justify-content: center;
}

.copy-button:hover {
    width: 30px;
    height: 30px;
    margin-top: 17px;
    background-image: url("Copy-Paste--Streamline-Core.svg");
    background-size: 90%;
    background-repeat: no-repeat;
    background-color: #F4C095;
    background-position: center left 2px;
    align-items: center;
    justify-content: center;
}

button {
    width: 191px;
    height: 42px;
    font-size: medium;
    font-weight:bold;
    color: #04151F;
    background-color: #F4C095;
    border: none;
    border-radius: 6px;
    margin-bottom: 20px;
}

hr {
    margin: 0px;
    width: 560px;
    height: 2px;
    border: none;
    background: #598392;
}

.output-container {
    margin-top: 5px;
    gap: 25px;
    display: flex;
}

h3 {
    text-align: center;
    vertical-align: middle;
    min-width: 209px;
    max-width: fit-content;
    height: 29px;
    background-color: #598392;
    border-radius: 6px;
    color: #04151F;
    padding: 8px 2px 0px;
    margin-top: 15px;
    margin-bottom: 10px;
}

/* Password configuration section */
.config-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 19px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #BDEDE0;
    max-width: 350px;
}

/* Hide default checkbox */
.config-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #598392;
    border-radius: 5px;
}

/* Checkbox mouse over visual */
.config-container:hover input ~ .checkmark {
    background-color: #F4C095;
}

/* Checkmark mouse over visual */
.config-container:hover input ~ .checkmark:after {
    border: solid #04151F;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox visual - checked */
.config-container:checked ~ .checkmark:after {
    background-color: #BDEDE0;
}

/* Checkmark visual - not checked */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Checkmark visual - checked */
.config-container input:checked ~ .checkmark:after {
    display: block;
}

/* Checkmark style */
.config-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #BDEDE0;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

#password-length-label {
    text-align: center;
    vertical-align: middle;
    font-family: "Karla", sans-serif;
    font-size: 19px;
    border: none;
    border-radius: 5px;
    margin-top: 80px;
}

.range {
    margin-top: 15px;
    height: 100vh;
    display: grid;
    width: 560px;
    max-width: 800px;
}

.range {
  --primaryColor: #F4C095;
  --value-active-color: black;
  --value-background: var(--primaryColor);
  --value-font: 700 12px/1 "Karla", sans-serif;
  --progress-color: #598392;
  --progress-shadow: 2px 2px 4px rgba(0,0,0, .1) inset;
  --fill-color: var(--primaryColor);
  --thumb-size: 16px;
  --track-height: calc(var(--thumb-size)/2);
  --thumb-shadow: 0 0 3px rgba(0,0,0,.2);
  --ticks-thickness: 1px;
  --ticks-height: 5px;
  --ticks-color: #F4C095;
  --step: 1;
  --ticks-count: (var(--max) - var(--min)) / var(--step);
  --maxTicksAllowed: 64;
  --too-many-ticks: Min(1, Max(var(--ticks-count) - var(--maxTicksAllowed), 0));
  --x-step: Max( var(--step), var(--too-many-ticks) * (var(--max) - var(--min)) );
  --tickInterval: 100/((var(--max) - var(--min)) / var(--step)) * var(--tickEvery, 1);
  --tickIntervalPerc: calc((100% - var(--thumb-size))/( (var(--max) - var(--min)) / var(--x-step) ) * var(--tickEvery, 1));
  --completed: calc((var(--value) - var(--min) ) / (var(--max) - var(--min)) * 100);
  display: inline-block;
  height: var(--thumb-size);
  margin-top: 30px;
  background: linear-gradient(to right, var(--ticks-color) var(--ticks-thickness), transparent 1px) repeat-x;
  background-size: var(--tickIntervalPerc) var(--ticks-height);
  background-position: calc(var(--thumb-size)/2) bottom;
  padding-bottom: var(--ticks-height);
  position: relative;
}
.range::before, .range::after {
  font: 12px Arial;
  content: counter(x);
  position: absolute;
  bottom: -2.5ch;
}
.range::before {
  counter-reset: x var(--min);
  left: 0;
}
.range::after {
  counter-reset: x var(--max);
  right: 0;
}
.range__progress {
  position: absolute;
  left: 0;
  top: calc(50% - var(--ticks-height)/2);
  transform: translateY(-50%);
  width: 100%;
  height: calc(var(--track-height));
  pointer-events: none;
  z-index: -1;
  box-shadow: var(--progress-shadow);
  border-radius: 20px;
  background: var(--fill-color, white);
}
.range__progress::before {
  content: "";
  display: block;
  margin-left: auto;
  margin-right: -0.5px;
  width: calc(100% - var(--completed) * 1%);
  height: 100%;
  background: var(--progress-color, #EEE);
  box-shadow: inherit;
  border-radius: 0 20px 20px 0;
}
.range > input {
  -webkit-appearance: none;
            appearance: none;
  width: 100%;
  height: var(--thumb-size);
  margin: 0;
  cursor: -webkit-grab;
  cursor: grab;
  outline: none;
  background: none;
}
.range > input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: 50%;
  background: var(--thumb-color, white);
  border: 1px solid silver;
  box-shadow: var(--inner-shadow, 0 0), var(--thumb-shadow);
}
.range > input::-moz-slider-thumb {
  -moz-appearance: none;
       appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: 50%;
  background: var(--thumb-color, white);
  border: 1px solid silver;
  box-shadow: var(--inner-shadow, 0 0), var(--thumb-shadow);
}
.range > input::-ms-thumb {
  appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  border-radius: 50%;
  background: var(--thumb-color, white);
  border: 1px solid silver;
  box-shadow: var(--inner-shadow, 0 0), var(--thumb-shadow);
}
.range > input:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
  --thumb-color: var(--fill-color);
  --inner-shadow: 0 0 0 calc(var(--thumb-size)/4) inset white;
}
.range > input:active + output {
  transition: 0s;
}
.range > input:hover + output {
  background: var(--value-background);
  color: var(--value-active-color);
  transform: translate(var(--x-offset), 0);
  box-shadow: 0 0 0 3px var(--value-background);
}
.range > output {
  --x-offset: calc(var(--completed) * -1%);
  pointer-events: none;
  position: absolute;
  background: transparent;
  border-radius: 10px;
  padding: 0 4px;
  top: -3ch;
  left: calc(((var(--value) - var(--min))/(var(--max) - var(--min))) * 100%);
  transform: translate(var(--x-offset), 6px);
  transition: all 0.12s ease-out, left 0s, top 0s;
}
.range > output::after {
  content: var(--text-value);
  font: var(--value-font);
}

#password-input:hover{
    background-color: #F4C095;
    color: #04151F;
}

.pass-length-config-container {
    margin-top: 20px;
}
